version: '2'

networks:
  prodnetwork:
    driver: bridge

services:
 jenkins:
  hostname: 'jenkins'
#  mem_limit: 800m
# memswap_limit: 850m
  privileged: true
  build: ./jenkins-ci
  hostname: jenkins
  ports:
    - "18080:8080"
  networks:
    - prodnetwork
  volumes:
     - jenkins_home:/var/jenkins_home:Z

volumes:
 jenkins_home:

